# Local Environment
NODE_ENV=development
PORT=3000

# Database (Local Docker PostgreSQL)
DATABASE_URL="postgresql://admin:admin@localhost:5432/vhandelivery_db?schema=public"

# JWT / Auth
JWT_SECRET="local_secret_key_change_me"
JWT_EXPIRATION="1d"
JWT_REFRESH_SECRET="local_refresh_secret_key_change_me"
JWT_REFRESH_EXPIRATION="7d"
MAX_AGE_REFRESH_COOKIE=604800000  # 7 days in milliseconds


# AWS S3 / MinIO (Local)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=admin123
AWS_BUCKET_NAME=vhan-media
AWS_ENDPOINT=http://localhost:9000
AWS_FORCE_PATH_STYLE=true


# Other Local Configs
LOG_LEVEL=debug

