<footer
  class="relative overflow-hidden bg-secondary text-content-on-secondary py-16 md:py-20 mt-16"
>
  <div class="relative max-w-7xl mx-auto px-4 md:px-20">
    <div class="grid gap-12 md:grid-cols-[1fr_auto_1fr] items-start">
      <!-- Brand & Links -->
      <div class="space-y-8">
        <div class="flex items-baseline gap-3">
          <h1
            class="text-content-on-secondary font-semibold leading-none text-[40px] md:text-[52px]"
          >
            VHan
          </h1>
          <h1
            class="text-primary font-semibold leading-none text-[40px] md:text-[52px]"
          >
            Delivery
          </h1>
        </div>

        <div class="space-y-3 font-semibold">
          <a
            href="#"
            class="inline-flex items-center gap-2 text-content-on-secondary hover:text-primary transition-colors"
          >
            {{ 'FOOTER.ADMIN' | translate }}
            <span aria-hidden="true">↗</span> </a
          ><br />
          <a
            href="#"
            class="inline-flex items-center gap-2 text-content-on-secondary hover:text-primary transition-colors"
          >
            {{ 'FOOTER.TERMS' | translate }}
            <span aria-hidden="true">↗</span> </a
          ><br />
          <a
            href="#"
            class="inline-flex items-center gap-2 text-content-on-secondary hover:text-primary transition-colors"
          >
            {{ 'FOOTER.PRIVACY' | translate }}
            <span aria-hidden="true">↗</span>
          </a>
        </div>
      </div>

      <!-- Divider -->
      <div class="hidden md:block w-px h-full bg-border-base/60 mx-auto"></div>

      <!-- Contact -->
      <div class="space-y-6 pl-6">
        <h2
          class="text-content-on-secondary text-[28px] md:text-[32px] font-semibold"
        >
          {{ 'FOOTER.CONTACT_US' | translate }}
        </h2>

        <div class="space-y-5 text-content-on-secondary/90">
          <div class="flex items-center text-[16px] gap-3">
            <img src="/assets/images/landing/icon-phone.svg" alt="" />

            <a class="text-[16px]">{{ 'FOOTER.PHONE' | translate }}</a>
          </div>
          <div class="flex items-center text-[16px] gap-3">
            <img src="/assets/images/landing/icon-email.svg" alt="" />
            <a class="text-[16px]">{{ 'FOOTER.EMAIL' | translate }}</a>
          </div>
          <div class="flex items-center text-[16px] gap-3">
            <img src="/assets/images/landing/icon-location.svg" alt="" />
            <a class="text-[16px]">{{ 'FOOTER.ADDRESS' | translate }}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-14 pt-8 border-t border-[#5b5b61] text-center">
      <p class="text-[14px] text-[#5b5b61]">
        {{ 'FOOTER.COPYRIGHT' | translate }}
      </p>
    </div>
  </div>
</footer>
