@use '../../../../../styles/variables' as *;

:host {
  display: block;
}
/* ========================================
   Footer
   ======================================== */
.register-footer {
  background: linear-gradient(24deg, $primary-dark 0%, #1a1a1a 50%, #b51b29 100%);
  color: $white;
  padding: 40px 80px;
  background:radial-gradient(circle at 90%  -50%, #9c1521 10%, #272121 30%, black 50%);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  max-width: 1400px;
  margin: 0 auto;
}

.footer-left {
  flex: 1;
}

.footer-center{
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 12px;  
}

.footer-logo-top{
  color: $primary-red;
  display: block;
  text-align: left;
}

.footer-logo {
  font-size: 2rem;
  /* font-weight: 700; */
  margin-bottom: 15px;
  margin-top: 0;
}

.footer-contact {
  font-size: 0.8rem;
  white-space: nowrap;
  line-height: 1.6;
  color: rgba($white, 0.8);
  display: flex;
  align-items: center; 
  gap: 8px;      
}

.footer-contact svg{
  color: $primary-red;
  margin-right: 5px;
  width: 1rem;
}

.footer-contact span{
  cursor: pointer;
}

.footer-contact span:hover{
  color: $white;
}

.footer-right {  
  flex: 1;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.social-links {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.social-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgba($white, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
}

.social-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: translateY(-3px);
}

.app-download {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.app-badge {
  width: 120px;
  height: 36px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  display: block;
  transition: all 0.3s;
}

.app-badge:hover {
  background: rgba(255, 255, 255, 0.3);
}

.app-badge img{
    width: 100%;
    height: 100%;
}

.copyright, .footer-contact span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}







/* ========================================
   Responsive Design - Mobile
   ======================================== */
@media screen and (max-width: 992px) {
  .register-footer{
    background:radial-gradient(circle at 80% -10%, #9c1521 10%, #272121 30%, black 50%);
  }

  .logo {
    font-size: 20px;
  }

  .footer-content {
    flex-direction: column;
    /* text-align: center; */
    gap: 30px;
  }

  .footer-right {
    align-self: flex-end;
  }

  .social-links,
  .app-download {
    justify-content: center;
  }

  .register-footer {
    padding: 30px 20px;
  }
}

